:root {
  --clr-trans-black: hsla(0, 0, 0, 0.3);
  --clr-trans-grey: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
}

section {
  margin: 4rem;
}

#course-details {
  width: 90%;

  display: flex;
  color: white;

  border-radius: 1.5rem;
  border: 1px solid rgba(81, 81, 81, 0.85);

  background: rgba(10, 10, 10, 0.6);

  backdrop-filter: blur(5px);

  padding: 2rem;
}

#searchArea {
  cursor: none;
}

#goBackButton {
  transform: scale(0.5);
  margin-left: -4rem;
  padding: 0;
}

.chevron {
  transform: translate(-0.3rem, 0.2rem);
}

input {
  padding: 0;
}

#reviewButton {
  transform: scale(0.8);
  margin-right: 2rem;
}

.card {
    display: flex;
    flex-direction: column;

    width: 90%;
    height: auto;
    padding: 2rem;
    margin-left: 0;

    color: white;
  
    border-radius: 1.5rem;
    border: 1px solid rgba(81, 81, 81, 0.85);
  
    background: rgba(10, 10, 10, 0.6);
  
    backdrop-filter: blur(10px);
}

#card-template {
    display: flex;
    padding: 2rem;

}

.name {
  flex-shrink: 0;

  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 20pt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graduateYear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review {
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#reviewDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: -3.5rem;
}

#coursepage-courserating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* #coursepage-rating {
    padding: 1.5rem;
    padding-top: 2rem;
    line-height: 2rem;
} */

p.degree {
    font-weight: 500;
    font-size: 18pt;
    line-height: 2rem;
}

p.specialisation {
    font-weight: 400;
    font-size: 16pt;
    line-height: 2rem;
}

p.school {
    font-weight: 400;
    font-size: 14pt;
    line-height: 2rem;
}

p.stars {
    padding-left: 2rem;
}