:root {

    --clr-trans-black: hsla(0, 0, 0, 0.3);
    --clr-trans-grey: hsla(0, 0%, 100%, 0.95);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    font-family: "Montserrat Alternates", sans-serif;
}

#landing {
    height: 100vh;
}

#title-text {
    color: white;

    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 68pt;
}

#intro-text {
    color: white;

    font-family: "Montserrat Alternates", sans-serif;

}

#landingScroll {
    background-color: #1B1B1B;
    height: 140vh;
    width: 100%;

}


