:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

#landing {
    background: url("../../public/media/sholtz_beautiful_university_from_the_front_cloudy_sky_cloud_br_61c4bcbd-8457-4b04-919b-0f8bb0ebf653.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the entire viewport height */
}
