:root {
    --clr-bg: hsla(0, 0%, 7%);
    --clr-bg-transparent: hsla(0, 0%, 7%, 0.4);
    --clr-white: hsl(0, 0%, 95%);
    --clr-borders: hsl(0, 0%, 24%);
    --clr-opache-bg: hsla(0, 0%, 26%, 0.1);
    --clr-opache-bg-fullscreen: hsla(0, 0%, 12%, 0.7);
    --clr-less-opache-bg: hsla(0, 0%, 13%, 0.909);
    --clr-clear: hsla(0, 0%, 0%, 0);

    --clr-prime: hsl(240 80% 20%);
    --clr-secondary: #6c66c6;
    --clr-accent: hsl(320 100% 50%);


    --clr-vibrantlav: hsl(260 70% 60%);
    --clr-vibrantpurp: hsl(260, 66%, 52%);
    --clr-royalpurp: hsl(270 50% 30%);

    --clr-neonblu: hsl(190 100% 50%);
    --clr-neonpeach: hsl(40 100% 50%);

    --clr-glass: hsla(0, 0%, 100%, 0.1);
    --clr-brightglass: hsla(0, 0%, 5%, 0.05);
    --clr-darkglass: hsla(0, 0%, 5%, 0.01);

    --clr-persianblu: hsl(235, 100%, 55%);
    --clr-darkblu: #090c9b;
    --clr-violet: hsl(240, 100%, 65%);

    /* For background mist orbs */
    --clr-neon-blue: hsl(200, 100%, 50%);
    --clr-neon-pink: hsl(280, 100%, 50%);

    /* Glow Colours */
    --clr-blue-glow: hsl(180, 100%, 50%);
    --clr-pink-glow: hsl(317, 100%, 50%);

    /* Card Colours*/
    --clr-cards: hsla(0, 0%, 90%, 0.15);
    --clr-card-content: hsla(0, 0%, 2%, 0.1);

    /* Nav Colours */
    --clr-black-transparent: hsla(0, 0%, 0%, 0.7);
    --clr-black: hsl(0, 0%, 0%);
    --clr-off-white: hsla(0, 10%, 90%, 0.90);
    --clr-off-white-font: hsla(0, 10%, 90%, 0.60);
    --clr-nav-bg: #000211;

        /* Button Colours*/
        --clr-button: hsla(0, 0%, 95%, 0.3);

        --clr-registration-glass: #ffffff1a;
        --clr-registration-border: #ffffff30;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    align-items: center;
    background-color: var(--clr-bg);
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-image: url("../images/BG Group.png");
    background-size: 110vw 110vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

